/build/
**/build/
*.jks
*.keystore
*.pass
local.properties
/.coverage
.coverage.*
coverage.xml
coverage/.gradle/
coverage/build/
.gradle/
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
.idea/
.DS_Store
